#main-container{
    padding-left: 100px;
    padding-top: 50px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 50px;
}

.images{
    width: 250px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.food-preview{
    width: 250px;
}

h4{
    padding: 20px 0px;
    text-align: center;
}

#body{
    /* background-color: #edd263; */
}

#nothing-found{
    font-size: 50px;
    font-style: italic;
    color: goldenrod;
}
